// /*page-body*/
// .page-body {
//   margin-top: -4rem;
// }
// .page-component-body {
//   margin-top: -4rem;
//   margin-left: -30rem;
// }
// /*side nav bar*/
// .navbar {
//   background-color: #3f3f3f;
// }

// .fa {
//   position: relative;
//   display: table-cell;
//   width: 60px;
//   height: 36px;
//   text-align: center;
//   vertical-align: middle;
//   font-size: 20px;
//   padding-right: 15px;
//   padding-left: 15px;
// }

// .main-menu:hover,
// nav.main-menu.expanded {
//   width: 250px;
//   overflow: visible;
// }

// .main-menu {
//   background: #228164;
//   border-right: 1px solid #e5e5e5;
//   position: fixed;
//   top: 7rem;
//   bottom: 0;
//   height: 86.5%;
//   left: 0;
//   width: 50px;
//   overflow: hidden;
//   -webkit-transition: width 0.05s linear;
//   transition: width 0.05s linear;
//   -webkit-transform: translateZ(0) scale(1, 1);
//   z-index: 1000;
// }

// .main-menu > ul {
//   margin: 7px 0;
// }

// .main-menu li {
//   position: relative;
//   display: block;
//   width: 250px;
// }

// .main-menu li > a {
//   position: relative;
//   display: table;
//   border-collapse: collapse;
//   border-spacing: 0;
//   color: rgb(255, 255, 255);
//   font-family: arial;
//   font-size: 16px;
//   text-decoration: none;
//   -webkit-transform: translateZ(0) scale(1, 1);
//   -webkit-transition: all 0.1s linear;
//   transition: all 0.1s linear;
// }

// .main-menu .nav-icon {
//   position: relative;
//   display: table-cell;
//   width: 50px;
//   height: 36px;
//   text-align: center;
//   vertical-align: middle;
//   font-size: 18px;
// }

// .main-menu .nav-text {
//   position: relative;
//   display: table-cell;
//   vertical-align: middle;
//   width: 190px;
//   font-family: "Titillium Web", sans-serif;
// }

// .no-touch .scrollable.hover {
//   overflow-y: hidden;
// }

// .no-touch .scrollable.hover:hover {
//   overflow-y: auto;
//   overflow: visible;
// }

// a:hover,
// a:focus {
//   text-decoration: none;
// }

// nav {
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   -o-user-select: none;
//   user-select: none;
// }

// nav ul,
// nav li {
//   outline: 0;
//   margin: 0;
//   padding: 0;
// }
// .main-menu li:hover > a,
// nav.main-menu li.active > a,
// .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
// .dashboard-page nav.dashboard-menu ul li.active a {
//   color: #fff;
//   background-color: #207159;
// }
// .area {
//   float: left;
//   background: #e2e2e2;
//   width: 100%;
//   height: 100%;
// }
// @font-face {
//   font-family: "Titillium Web";
//   font-style: normal;
//   font-weight: 300;
//   src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
//     url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
//       format("woff");
// }

// /*header css part*/

// .main-menubox {
//   display: none;
// }

// .main-menu:hover .main-menubox {
//   display: block;
// }

// li.nav-item {
//   padding: 10px 20px;
// }

// /*css for body*/
// .component-body {
//   margin-top: 8rem;
//   padding-left: 100px;
//   padding-right: 50px;
// }

// /*footer*/
// .footer-basic {
//   position: relative;
//   padding: 40px 0;
//   background-color: #3b3b3b;
//   width: 100%;
//   bottom: 0;
//   height: 8rem;
// }

// .footer-basic ul {
//   padding: 0;
//   list-style: none;
//   text-align: center;
//   font-size: 18px;
//   line-height: 1.6;
//   margin-bottom: 0;
// }

// .footer-basic li {
//   padding: 0 10px;
// }

// .footer-basic ul a {
//   color: inherit;
//   text-decoration: none;
//   opacity: 0.8;
// }

// .footer-basic ul a:hover {
//   opacity: 1;
// }

// .footer-basic .social {
//   text-align: center;
//   padding-bottom: 25px;
// }

// .footer-basic .social > a {
//   font-size: 24px;
//   width: 40px;
//   height: 40px;
//   line-height: 40px;
//   display: inline-block;
//   text-align: center;
//   border-radius: 50%;
//   border: 1px solid #ccc;
//   margin: 0 8px;
//   color: inherit;
//   opacity: 0.75;
// }

// .footer-basic .social > a:hover {
//   opacity: 0.9;
// }

// .footer-basic .copyright {
//   margin-top: 15px;
//   text-align: center;
//   font-size: 13px;
//   color: #aaa;
//   margin-bottom: 0;
// }

// /*login*/
// .login,
// .image {
//   min-height: 100vh;
// }

// .bg-image {
//   background-image: url("https://i.ibb.co/c6kFNFX/19199058.png");
//   background-size: cover;
//   background-position: center center;
// }

// .login-container {
//   display: flex;
//   background-color: rgb(235, 235, 235);
//   max-width: 500px;
//   min-height: 600px;
//   justify-content: center;
//   padding: 6rem 1rem 1rem 1rem;
//   border-top-left-radius: 0;
//   border-top-right-radius: 30px;
//   border-bottom-left-radius: 30px;
//   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
// }

// .btn-login {
//   background-color: #1fc191;
//   color: black;
//   width: 200px;
// }

// .login-form-input {
//   width: 400px;
//   height: 3rem;
//   margin: 3rem 0 0rem 0;
// }

// /*empForm*/
// .tab-content-emp {
//   background-color: rgb(255, 255, 255);
// }


// /*tab-content*/
// .tab-content {
//   background-color:white;
// }
// .formInput {
//   background-color: white;
// }
// .formInput:focus {
//   background-color: white;
// }

// .input-main-form {
//   width: 800px;
//   border-radius: 0.5rem;
//   box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2),
//     0px 0px 10px 0px rgba(0, 0, 0, 0.19);
// }
// .input-main-form-emp {
//   width: 800px;
//   position: absolute;
//   top: 70%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   border-radius: 0.5rem;
//   box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2),
//     0px 0px 10px 0px rgba(0, 0, 0, 0.19);

// }

// /*add rental form*/
// textarea {
//   resize: none;
// }
// .form-label {
//   font-size: 12px;
//   color: #5e9bfc;
//   margin: 0;
//   display: block;
//   opacity: 1;
//   -webkit-transition: 0.333s ease top, 0.333s ease opacity;
//   transition: 0.333s ease top, 0.333s ease opacity;
// }
// .form-control {
//   border-radius: 0;
//   border-color: #ccc;
//   border-width: 0 0 2px 0;
//   border-style: none none solid none;
//   box-shadow: none;
// }
// .form-control:focus {
//   box-shadow: none;
//   border-color: #5e9bfc;
// }
// .js-hide-label {
//   opacity: 0;
// }
// .js-unhighlight-label {
//   color: #999;
// }
// .btn-start-order {
//   background: 0 0 #ffffff;
//   border: 1px solid #2f323a;
//   border-radius: 3px;
//   color: #2f323a;
//   font-family: "Raleway", sans-serif;
//   font-size: 16px;
//   line-height: inherit;
//   margin: 30px 0;
//   padding: 10px 50px;
//   text-transform: uppercase;
//   transition: all 0.25s ease 0s;
// }
// .btn-start-order:hover,
// .btn-start-order:active,
// .btn-start-order:focus {
//   border-color: #5e9bfc;
//   color: #5e9bfc;
// }

// /*hasani*/
// .page-component-body1 {
//   margin-top:-5rem;
//   margin-left: -30rem;
  
// }


// .rental-summary-body {
//   position: absolute; 
//   margin-top:-5rem;
//   left: 62%;
//   width: 550px;
//   height: 650px; 
//   background: pink;
//   box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2),
//     0px 0px 10px 0px rgba(0, 0, 0, 0.19);
  
// }

// .form-label-h {
//   font-size: 14px;
//   margin: 25px;
//   display: block;
//   padding-top: 1.5px; 
// }
// /*add employee form*/
// .form-label-emp {
//   font-size: 12px;
//   color: #5e9bfc;
//   margin: 0;
//   display: block;
// }

// /*css for buttons*/
// .btn-ok {
//   background-color: #1fc191;
//   color: black;
//   width: 200px;
//   font-size: 1.1rem;
//   border-radius: 0.5rem;
//   box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2),
//     0px 0px 10px 0px rgba(0, 0, 0, 0.19);
// }

// .btn-reset {
//   background-color: #ffd200;
//   color: black;
//   width: 200px;
//   font-size: 1.1rem;
//   border-radius: 0.5rem;
//   box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2),
//     0px 0px 10px 0px rgba(0, 0, 0, 0.19);
// }

/*page-body*/
.page-body {
  max-height: 8rem;
  margin-bottom: 2rem;
}

.page-component-body {
  height: 850px;
  
}
/*side nav bar and header*/
.navbar {
  background-color: #3f3f3f;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #228164;
  border-right: 1px solid #e5e5e5;
  position: fixed;
  top: 7rem;
  bottom: 0;
  height: 86.5%;
  left: 0;
  width: 50px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu > ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: rgb(255, 255, 255);
  font-family: arial;
  font-size: 16px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 50px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #207159;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
      format("woff");
}

/*header css part*/

.main-menubox {
  display: none;
}

.main-menu:hover .main-menubox {
  display: block;
}

li.nav-item {
  padding: 10px 20px;
}

/*footer*/
.footer-basic {
  position: relative;
  padding: 40px 0;
  background-color: #3b3b3b;
  width: 100%;
  bottom: 0;
  height: 8rem;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

/*login*/
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("https://i.ibb.co/c6kFNFX/19199058.png");
  background-size: cover;
  background-position: center center;
}

.login-container {
  display: flex;
  background-color: rgb(235, 235, 235);
  max-width: 500px;
  min-height: 600px;
  justify-content: center;
  padding: 6rem 1rem 1rem 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.btn-login {
  background-color: #1fc191;
  color: black;
  width: 200px;
}

.login-form-input {
  width: 400px;
  height: 3rem;
  margin: 3rem 0 0rem 0;
}

/*empForm*/
.tab-content-emp {
  background-color: rgb(255, 255, 255);
}

/*tab-content*/
.tab-content {
  background-color: rgb(255, 255, 255);
}
.formInput {
  background-color: rgb(255, 255, 255);
}
.formInput:focus {
  background-color: rgb(255, 255, 255);
}

.input-main-form {
  width: 800px;
  position: relative;
  margin-left: 8rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2),
    0px 0px 10px 0px rgba(0, 0, 0, 0.19);
}
.input-main-form-emp {
  width: 800px;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2),
    0px 0px 10px 0px rgba(0, 0, 0, 0.19);
}

/*add rental form*/
textarea {
  resize: none;
}
.form-label {
  font-size: 14px;
  color: #5e9bfc;
  margin: 0;
  display: block;
  opacity: 1;
  -webkit-transition: 0.333s ease top, 0.333s ease opacity;
  transition: 0.333s ease top, 0.333s ease opacity;
}
.form-control {
  border-radius: 0;
  border-color: #ccc;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: #5e9bfc;
}
.js-hide-label {
  opacity: 0;
}
.js-unhighlight-label {
  color: #999;
}
.btn-start-order {
  background: 0 0 #ffffff;
  border: 1px solid #2f323a;
  border-radius: 3px;
  color: #2f323a;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: inherit;
  margin: 30px 0;
  padding: 10px 50px;
  text-transform: uppercase;
  transition: all 0.25s ease 0s;
}
.btn-start-order:hover,
.btn-start-order:active,
.btn-start-order:focus {
  border-color: #5e9bfc;
  color: #5e9bfc;
}

/*add employee form*/
.form-label-emp {
  font-size: 14px;
  color: #5e9bfc;
  margin: 0;
  display: block;
}

/*css for buttons*/
.btn-ok {
  background-color: #1fc191;
  color: black;
  width: 200px;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2),
    0px 0px 10px 0px rgba(0, 0, 0, 0.19);
}

.btn-reset {
  background-color: #ffd200;
  color: black;
  width: 200px;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2),
    0px 0px 10px 0px rgba(0, 0, 0, 0.19);
}

/*hasani*/
.rental-summary-body {
  position: absolute; 
  top:10rem;
  left: 65%;
  width: 400px;
  height: 650px; 
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2),
  0px 0px 10px 0px rgba(0, 0, 0, 0.19);
  
}

.form-label-h {
   font-size: 14px;
   margin: 20px;
   display: block;
   
}


a.nav-link:visited,
a.nav-link:hover,
a.nav-link:focus,
a.nav-link:link
{
  background-color:#1fc191;
  color: white;
}


